.main {
    display: flex;
    flex-wrap: wrap;
    padding: 6rem;
    min-height: 100vh;
}

.gridItem {
    justify-content: center;
    margin: 16px;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}